@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

header button svg {
  width: 1.8rem;
  height: 1.8rem;
}
h1,
h2,
h3,
h4,
p,
span:not(button span) {
  color: #020618;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark span:not(button span) {
  color: #f3f4f6;
}
.dark footer p {
  color: #ababab72;
}
svg {
  color: #372aac;
}
.dark svg {
  color: #4f39f6;
}
.high svg {
  color: rgb(210, 65, 49);
}
.low svg {
  color: rgb(59, 113, 188);
}
@layer components {
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#0f172b 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }

  .spinner {
    margin: 4.8rem auto;
    width: 6.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #0f172b 94%, #0000) top/10px 10px
        no-repeat,
      conic-gradient(#0000 30%, #0f172b);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 10px),
      #000 0
    );
    animation: spinner 0.8s infinite linear;
  }

  @keyframes spinner {
    to {
      transform: rotate(1turn);
    }
  }
}
